
SIstemaDeEstoque/.vs/SistemaCRUDNOVO/DesignTimeBuild/.dtbcache.v2
SIstemaDeEstoque/.vs/SistemaCRUDNOVO/FileContentIndex/20768823-f9e9-4e17-acfa-27dd65e252a9.vsidx
SIstemaDeEstoque/.vs/SistemaCRUDNOVO/FileContentIndex/23539b16-3243-4c5f-adb0-dfb472f3282d.vsidx
SIstemaDeEstoque/.vs/SistemaCRUDNOVO/FileContentIndex/548ebb27-32bd-43d5-bfc4-56407659a44a.vsidx
SIstemaDeEstoque/.vs/SistemaCRUDNOVO/DesignTimeBuild/.dtbcache.v2
SIstemaDeEstoque/.vs/SistemaCRUDNOVO/FileContentIndex/23539b16-3243-4c5f-adb0-dfb472f3282d.vsidx
SIstemaDeEstoque/.vs/SistemaCRUDNOVO/FileContentIndex/6ae58e98-6884-4587-93a4-48993474936b.vsidx
SIstemaDeEstoque/.vs/SistemaCRUDNOVO/FileContentIndex/9c64cb6f-4dec-4ac1-b3bc-e46a026ff0b8.vsidx
SIstemaDeEstoque/.vs/SistemaCRUDNOVO/FileContentIndex/fc1b870c-8af4-4953-8169-325be7e16327.vsidx
